@mixin boton($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: background 0.3s;

  &:hover {
    background-color: $color-acento-hover;
    animation: botonHover 0.3s forwards;
  }
}

@mixin animacion-aparecer-titulo {
  animation: aparecerTitulo 1s ease-out;
}

@mixin animacion-zoom-suave {
  animation: zoomSuave 0.5s forwards;
}

@mixin animacion-aparecer-formulario {
  animation: aparecerFormulario 1s ease-out;
}

@mixin animacion-fade-in($delay: 0.3s) {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: $delay;
}
