// Colores
$color-fondo: #121212;
$color-texto: #ffffff;
$color-acento: #4caf50;
$color-acento-hover: #388e3c;
$color-boton-texto: #fff;
$color-input-fondo: #1e1e1e;
$color-footer-texto: #aaaaaa;

// Fuentes
$fuente-principal: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

// Tamaños
$logo-alto: 50px;
